* {
    max-width: 100%;
    margin: auto;
}

.left-side {
    height: 1010px;
    width: 50px;
    background-color: rgb(238, 255, 0);
    float: left;
    position: fixed;
}

.right-side {
    height: 1010px;
    width: 50px;
    background-color: rgb(238, 255, 0);
    float: right;
    position: inherit;
}

.img {
    width: 100px
}

div {
    border-radius: 10px;
}

.content {
    display: inline-block;
    margin-left: 50px;
    width: 60%;
    height: 9000px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px
}